
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
 /*@import url(https://fonts.googleapis.com/css?family=Anton); font-family: 'Anton', sans-serif;*/

.button span:nth-child(1), .button:hover span:nth-child(2), .button:hover span:nth-child(3), .button:active span:nth-child(3) {
  color: #000;
  /*background: #52565b;  Non hover state nav butt */
  box-shadow: 0 20px 40px rgba(153, 0, 82, 0.6);
  border-radius: 8px;
  padding: 2px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}

.button span:nth-child(2), .button span:nth-child(3), .button:hover span:nth-child(1), .button:active span:nth-child(2) {
  color: #666666;
  background: #000; /* Hover state nav butt */
  box-shadow: none;border-radius: 8px;
}

html,
body {
  height: 100%;
  font: 20px 'Old Standard TT', serif;

  color: #001;



}

a{
  color: #F6E883;
}

h1, h2, h3, h4, h5, h6, strong, .navbar, .foot {
  font: bold 24px "Lobster", Arial, sans-serif;
  color: #001;
}

.button {
  
  
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 1px #004d55;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.button span {
  display: block;
  border: 1px solid #004d55;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.button span:nth-child(1) {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.button span:nth-child(2) {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.button span:nth-child(3) {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotateX(-180deg) translateY(40px) translateZ(40px);
  -moz-transform: rotateX(-180deg) translateY(40px) translateZ(40px);
  -ms-transform: rotateX(-180deg) translateY(40px) translateZ(40px);
  -o-transform: rotateX(-180deg) translateY(40px) translateZ(40px);
  transform: rotateX(-180deg) translateY(40px) translateZ(40px);
}

.button:hover {
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
}
.button:hover span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.button:hover span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.button:hover span:nth-child(3) {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.button:active span:nth-child(2) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.button:active span:nth-child(3) {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transform: rotateX(0deg) translateY(-40px) translateZ(40px);
  -moz-transform: rotateX(0deg) translateY(-40px) translateZ(40px);
  -ms-transform: rotateX(0deg) translateY(-40px) translateZ(40px);
  -o-transform: rotateX(0deg) translateY(-40px) translateZ(40px);
  transform: rotateX(0deg) translateY(-40px) translateZ(40px);
}


#about{
  min-height: 500px; 
}

#contact{
  min-height: 500px; 
}

.navbar-inverse{
  background: transparent;
  border: none;
}



.bx-wrapper{
  border-radius: 6px;
}

/*  This shit centers the nav bar!! I give up not working on smaller viewports. 
    .navbar-brand {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    
} */