@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
/*@import url(https://fonts.googleapis.com/css?family=Anton); font-family: 'Anton', sans-serif;*/


.bra{
    border-radius: 30px;
    
}

.ads{
    z-index: 9910;
}

.container{
    background-image: url('/images/halftone.png');
}

.nav navbar-nav{
    overflow: hidden;
}

.button span:nth-child(1),
.button:hover span:nth-child(2),
.button:hover span:nth-child(3),
.button:active span:nth-child(3) {
    color: #000;
    /*background: #52565b;  Non hover state nav butt */
    
    box-shadow: 0 20px 40px rgba(153, 0, 82, 0.6);
    border-radius: 8px;
    padding: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
    
    background: #e2e2e2;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
    /* IE6-9 */
}
.button span:nth-child(2),
.button span:nth-child(3),
.button:hover span:nth-child(1),
.button:active span:nth-child(2) {
    color: #666666;
    background: #000;
    /* Hover state nav butt */
    
    box-shadow: none;
    border-radius: 8px;
}
html,
body {
    height: 100%;
    font: 20px 'Old Standard TT', serif;
    color: #001;
}
a{color: #002;}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
.navbar,
.foot {
    font: bold 24px "Lobster", Arial, sans-serif;
    color: #001;
}


.navbar-inverse {
    background: transparent;
    border: none;
}

.bx-viewport, .bx-wrapper{
    border-radius: 26px;
    opacity: 1;
        -webkit-box-shadow: 12px 12px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 6px 0px  rgba(0,0,0,0.75);
    box-shadow: 12px 12px 6px 0px  rgba(0,0,0,0.75);
}

.bx-viewport:hover, .bx-wrapper:hover{
    -webkit-box-shadow: 0px 0px 6px 1px #ffff00;
    -moz-box-shadow: 0px 0px 6px 1px #ffff00;
    box-shadow: 0px 0px 6px 1px #ffff00;
    -webkit-transition: all 1s linear;
    -o-transition: all 2s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all 1s linear;
}


/*  This shit centers the nav bar!! I give up not working on smaller viewports. 
    .navbar-brand {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    
} */
/* Share the shit outta ya **/

.humra-share-buttonwa-hai-babbua {
    text-align: center;
}

.fa, .fa-2x {
    margin: 5px; 
    padding: 5px;
    color: #010309;

}

.fa:hover, .fa-2x:hover{
    font-size: 45px; color: #f46464;
}

#blogLinks, #midlinks{
    list-style-type: none;
}

/* Pops */


  #element_to_pop_up, #element_to_pop_up1, #element_to_pop_up2, #element_to_pop_up3, #element_to_pop_up4, #element_to_pop_up5{ 
    background-image: url('/images/halftone.png');
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    
    display: none;
    min-width: 450px;
    max-width: 650px;
    padding: 25px;
    z-index: 9191;
    

  }

  .b-close{
      cursor:pointer;
      position:absolute;
      right:10px;
      top:5px;
  }

/*Back to top */
.scrollToTop{
    width:60px; 
    height:110px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom:25px;
    right:30px;
    display:none;
    background: url("/images/top.png") no-repeat 0px 20px;
    z-index: 9999; 
    visibility: hidden;
}
.scrollToTop:hover{
    text-decoration:none;
}


/* #about::before {
    content: url("/images/decoLeft.png");
    position: absolute;
    left: 5px; 
}

#about::after {
    content: url("/images/decoRight.png");
    position: absolute;
    right: 5px; 
} */

#affiliate-commision-refer-earn-easypay-money{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#affiliate-commision-refer-earn-easypay-money:hover {
    -webkit-box-shadow: 0px 0px 4px 2px #f1f2f1;
    -moz-box-shadow: 0px 0px 4px 2px #f1f2f1;
    box-shadow: 0px 0px 4px 2px #f1f2f1;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all 1s linear;
}

/* <3 */


.contact .envelope {
        position: relative;
        height: 93px;
        width: 165px;
        margin: 0 auto;
        top: 20px;
        margin-bottom: 20px;
        background: #ccee77;
        
        transition: margin-top 300ms;
        -ms-transition: margin-top 300ms;
        -moz-transition: margin-top 300ms;
        -o-transition: margin-top 300ms;
        -webkit-transition: margin-top 300ms;
}
.contact:hover .envelope {
        transition-delay: 150ms;
        -ms-transition-delay: 150ms;
        -moz-transition-delay: 150ms;
        -o-transition-delay: 150ms;
        margin-top: -20px;
}
.contact .envelope .top {
        position: absolute;
        top: -3px;
        left: 0px;
        width: 100%;
        height: 73px;
        z-index: 30;
        overflow: hidden;
                        
        transform-origin: top;
        -ms-transform-origin: top;
        -moz-transform-origin: top;
        -o-transform-origin: top;
        -webkit-transform-origin: top;
                    
        transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -ms-transition: -ms-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -moz-transition: -moz-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -o-transition: -o-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -webkit-transition: -webkit-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
}
.contact:hover .envelope .top {
        transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -ms-transition: -ms-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -moz-transition: -moz-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -o-transition: -o-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -webkit-transition: -webkit-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        
        height: 10px;
        top: -60px;
        
        transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
}
.contact .envelope .outer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-left: 83px solid transparent;
        border-right: 82px solid transparent;
        border-top: 70px solid #EEE;
}
.contact .envelope .outer .inner {
        position: absolute;
        left: -81px;
        top: -73px;
        border-left: 81px outset transparent;
        border-right: 80px inset transparent;
        border-top: 68px solid #F95D5D;
}
.contact .envelope .bottom {
        position: absolute;
        z-index: 20;
        bottom: 0px;
        left: 2px;
        border-left: 81px solid transparent;
        border-right: 80px solid transparent;
        border-bottom: 45px solid #F7629D;
}
.contact .envelope .left {
        position: absolute;
        z-index: 20; top: 0px;
        left: 0px;
        border-left: 81px solid #EF3C6B;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
}
.contact .envelope .right {
        position: absolute;
        z-index: 20;
        top: 0px;
        right: 0px;
        border-right: 80px solid #F15880;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
}
.contact .envelope .cover {
        position: absolute;
        z-index: 15;
        bottom: 0px;
        left: 0px;
        height: 55%;
        width: 100%;
        background: #EEE;
}
.contact .envelope .paper {
        position: absolute;
        height: 83px;
        padding-top: 10px;
        width: 100%;
        top: 0px;
        left: 0px;
        background: #F9F9F9;
        z-index: 10;
        transition: margin-top 300ms 0ms;
        -ms-transition: margin-top 300ms 0ms;
        -moz-transition: margin-top 300ms 0ms;
        -o-transition: margin-top 300ms 0ms;
        -webkit-transition: margin-top 300ms 0ms;
}
.contact:hover .envelope .paper {
        margin-top: -60px;
        transition: margin-top 300ms 150ms;
        -ms-transition: margin-top 300ms 150ms;
        -moz-transition: margin-top 300ms 150ms;
        -o-transition: margin-top 300ms 150ms;
        -webkit-transition: margin-top 300ms 150ms;
}
.contact .envelope .paper a {
        position: relative;
        display: block;
        font-size: 14px;
        margin: 5px;
        margin-bottom: 0px;
        text-align: center;
        color: #333;
        text-decoration: none;
}
.contact .envelope .paper a.call .i {
        position: absolute;
        top: 2px;
        left: 20px;
        display: inline-block;
        width: 3px;
        height: 5px;
        border-width: 5px 0 5px 2px;
        border-style: solid;
        border-color: #555;
        background: transparent;
        
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);

        border-top-left-radius: 3px 5px;
        border-bottom-left-radius: 3px 5px;
        -moz-border-radius-topleft: 3px 5px;
        -moz-border-radius-bottomleft: 3px 5px;
        -webkit-border-top-left-radius: 3px 5px;
        -webkit-border-bottom-left-radius: 3px 5px;
                                                                                                                                                
        transition: border-color 300ms;
        -ms-transition: border-color 300ms;
        -moz-transition: border-color 300ms;
        -o-transition: border-color 300ms;
        -webkit-transition: border-color 300ms;
}
.contact .envelope .paper a {
        color: #383434;

        transition: color 200ms;
        -ms-transition: color 200ms;
        -moz-transition: color 200ms;
        -o-transition: color 200ms;
        -webkit-transition: color 200ms;
}
.contact .envelope .paper a:hover {
        color: #00f3ff;
}
.contact .envelope .paper a.call:hover .i {
        border-color: #DDD;
}
.contact .envelope .paper a.mail .i {
        position: absolute;
        top: 0px;
        left: 17px;
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
}

        /* <3 */

        .contact .fa:before {display: inline-block;}
.contact li {
  display: inline-block; 
  list-style-type: none;
  margin: 0 1em;
  text-align: center;
}
.contact p {text-align: center;}
.contact {display: inline-block; margin: 0 auto; padding-left: 0;}
.cont {text-align: center;}


/* bs */

figure {
    float: left;
    height: 3em;
    margin: 1.5em;
    width: 8em;
    -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s;
}
figure:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
}
img {
    background-color: #222;
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
    display: block;
    height: 100%;
    -webkit-transition: .5s;
}
figure:hover img {
    box-shadow: none;
}
figcaption {
    background-color: #e2e2e2;
    color: #e3e3e3;
    padding: .5em;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -webkit-transition: .5s;
    text-align: center;
    font-weight: 100;
}

/* on hover main image */

  .view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    
    cursor: default;
    background: transparent;
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
  transform: scale(1.1);
} 
.view-first:hover .mask { 
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}