@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
/*@import url(https://fonts.googleapis.com/css?family=Anton); font-family: 'Anton', sans-serif;*/


.bra{
    border-radius: 30px;
    
}

.ads{
    z-index: 9910;
}

.container{
    background-image: url('/images/halftone.png');
}


html,
body {
    height: 100%;
    font: 20px 'Old Standard TT', serif;
    color: #001;
    text-decoration: none;
}

a{color: #0d8add;}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
.navbar,
.foot {
    font: bold 24px "Lobster", Arial, sans-serif;
    color: #001;
}



.bx-viewport, .bx-wrapper{
    border-radius: 26px;
    opacity: 1;
    -webkit-box-shadow: 12px 12px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 6px 0px  rgba(0,0,0,0.75);
    box-shadow: 12px 12px 6px 0px  rgba(0,0,0,0.75);
}

.bx-viewport:hover, .bx-wrapper:hover{
    -webkit-box-shadow: 0px 0px 6px 1px #ffff00;
    -moz-box-shadow: 0px 0px 6px 1px #ffff00;
    box-shadow: 0px 0px 6px 1px #ffff00;
    -webkit-transition: all 1s linear;
    -o-transition: all 2s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all 1s linear;
}

.bx-wrapper img {
    margin: 0 auto;
}

.fa, .fa-2x {
    margin: 5px; 
    padding: 5px;
    color: #010309;

}

.fa:hover, .fa-2x:hover{
    color: #f46464;
}

#blogLinks, #midlinks{
    list-style-type: none;
}

/* Pops */


  #element_to_pop_up, #element_to_pop_up1, 
  #element_to_pop_up2, #element_to_pop_up3, 
  #element_to_pop_up4, #element_to_pop_up5{ 
    background-image: url('/images/halftone.png');
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    
    display: none;
    min-width: 450px;
    max-width: 650px;
    padding: 25px;
    z-index: 9911;
    

  }

  #element_to_pop_up > * {text-decoration: none;}

  .b-close{
      cursor:pointer;
      position:absolute;
      right:10px;
      top:5px;
  }

/*Back to top */
.scrollToTop{
    text-decoration: none;
    position:fixed;
    bottom:25px;
    right:30px;
    display:none;
    background: url("/images/top.png") no-repeat 0px 20px;
    z-index: 9999; 
    visibility: hidden;
}
.scrollToTop:hover{
    text-decoration:none;
}


/* #about::before {
    content: url("/images/decoLeft.png");
    position: absolute;
    left: 5px; 
}

#about::after {
    content: url("/images/decoRight.png");
    position: absolute;
    right: 5px; 
} */

#affiliate-commision-refer-earn-easypay-money{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#affiliate-commision-refer-earn-easypay-money:hover {
    -webkit-box-shadow: 0px 0px 4px 2px #f1f2f1;
    -moz-box-shadow: 0px 0px 4px 2px #f1f2f1;
    box-shadow: 0px 0px 4px 2px #f1f2f1;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all 1s linear;
}

/* <3 */
.contact .envelope {
        position: relative;
        height: 93px;
        width: 165px;
        margin: 0 auto;
        top: 20px;
        margin-bottom: 20px;
        background: #ccee77;
        
        transition: margin-top 300ms;
        -ms-transition: margin-top 300ms;
        -moz-transition: margin-top 300ms;
        -o-transition: margin-top 300ms;
        -webkit-transition: margin-top 300ms;
}
.contact:hover .envelope {
        transition-delay: 150ms;
        -ms-transition-delay: 150ms;
        -moz-transition-delay: 150ms;
        -o-transition-delay: 150ms;
        margin-top: -20px;
}
.contact .envelope .top {
        position: absolute;
        top: -3px;
        left: 0px;
        width: 100%;
        height: 73px;
        z-index: 30;
        overflow: hidden;
                        
        transform-origin: top;
        -ms-transform-origin: top;
        -moz-transform-origin: top;
        -o-transform-origin: top;
        -webkit-transform-origin: top;
                    
        transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -ms-transition: -ms-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -moz-transition: -moz-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -o-transition: -o-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -webkit-transition: -webkit-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
}
.contact:hover .envelope .top {
        transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -ms-transition: -ms-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -moz-transition: -moz-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -o-transition: -o-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -webkit-transition: -webkit-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        
        height: 10px;
        top: -60px;
        
        transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
}
.contact .envelope .outer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-left: 83px solid transparent;
        border-right: 82px solid transparent;
        border-top: 70px solid #EEE;
}
.contact .envelope .outer .inner {
        position: absolute;
        left: -81px;
        top: -73px;
        border-left: 81px outset transparent;
        border-right: 80px inset transparent;
        border-top: 68px solid #F95D5D;
}
.contact .envelope .bottom {
        position: absolute;
        z-index: 20;
        bottom: 0px;
        left: 2px;
        border-left: 81px solid transparent;
        border-right: 80px solid transparent;
        border-bottom: 45px solid #F7629D;
}
.contact .envelope .left {
        position: absolute;
        z-index: 20; top: 0px;
        left: 0px;
        border-left: 81px solid #EF3C6B;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
}
.contact .envelope .right {
        position: absolute;
        z-index: 20;
        top: 0px;
        right: 0px;
        border-right: 80px solid #F15880;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
}
.contact .envelope .cover {
        position: absolute;
        z-index: 15;
        bottom: 0px;
        left: 0px;
        height: 55%;
        width: 100%;
        background: #EEE;
}
.contact .envelope .paper {
        position: absolute;
        height: 83px;
        padding-top: 10px;
        width: 100%;
        top: 0px;
        left: 0px;
        background: #F9F9F9;
        z-index: 10;
        transition: margin-top 300ms 0ms;
        -ms-transition: margin-top 300ms 0ms;
        -moz-transition: margin-top 300ms 0ms;
        -o-transition: margin-top 300ms 0ms;
        -webkit-transition: margin-top 300ms 0ms;
}
.contact:hover .envelope .paper {
        margin-top: -60px;
        transition: margin-top 300ms 150ms;
        -ms-transition: margin-top 300ms 150ms;
        -moz-transition: margin-top 300ms 150ms;
        -o-transition: margin-top 300ms 150ms;
        -webkit-transition: margin-top 300ms 150ms;
}
.contact .envelope .paper a {
        position: relative;
        display: block;
        font-size: 14px;
        margin: 5px;
        margin-bottom: 0px;
        text-align: center;
        color: #333;
        text-decoration: none;
}
.contact .envelope .paper a.call .i {
        position: absolute;
        top: 2px;
        left: 20px;
        display: inline-block;
        width: 3px;
        height: 5px;
        border-width: 5px 0 5px 2px;
        border-style: solid;
        border-color: #555;
        background: transparent;
        
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);

        border-top-left-radius: 3px 5px;
        border-bottom-left-radius: 3px 5px;
        -moz-border-radius-topleft: 3px 5px;
        -moz-border-radius-bottomleft: 3px 5px;
        -webkit-border-top-left-radius: 3px 5px;
        -webkit-border-bottom-left-radius: 3px 5px;
                                                                                                                                                
        transition: border-color 300ms;
        -ms-transition: border-color 300ms;
        -moz-transition: border-color 300ms;
        -o-transition: border-color 300ms;
        -webkit-transition: border-color 300ms;
}
.contact .envelope .paper a {
        color: #383434;

        transition: color 200ms;
        -ms-transition: color 200ms;
        -moz-transition: color 200ms;
        -o-transition: color 200ms;
        -webkit-transition: color 200ms;
}
.contact .envelope .paper a:hover {
        color: #00f3ff;
}
.contact .envelope .paper a.call:hover .i {
        border-color: #DDD;
}
.contact .envelope .paper a.mail .i {
        position: absolute;
        top: 0px;
        left: 17px;
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
}

.contact .fa:before {display: inline-block;}
.contact li {
  display: inline-block; 
  list-style-type: none;
  margin: 0 1em;
  text-align: center;
}
.contact p {text-align: center;}
.contact {display: inline-block; margin: 0 auto; padding-left: 0;}
.cont {text-align: center;}


/* bs */

figure {
    float: left;
    height: 3em;
    margin: 1.5em;
    width: 8em;
    -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s;
}
figure:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
}
img {
    background-color: #222;
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
    display: block;
    height: 100%;
    -webkit-transition: .5s;
}
figure:hover img {
    box-shadow: none;
}
figcaption {
    background-color: #e2e2e2;
    color: #e3e3e3;
    padding: .5em;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -webkit-transition: .5s;
    text-align: center;
    font-weight: 100;
}

.navbar , .navbar-default{
    margin-top: 5px;
    opacity: .5;
    background: #3d3535; 
}

.navbar:hover , .navbar-default:hover{
    opacity: .8;
    background: #33ea9e;
    border: 2px solid #31bf84;
}