<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>NothingMuch</title>
  <meta name="description" content="NothingMuch, we build awesome web applications and party!">
  
  <link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
</head>


  <body>

  <header><h1>NothingMuch</h1>
    {% include nav.html navclass='nt' %} <!-- This is how you include stuff from _includes; nav class will assist to build robust params to nav inc -->
  </header>
    
    {{ content }}
  
  <footer>
    {% include nav.html navclass='nb' %}
    <p>2016 NothingMuch</p>
  </footer>
  </body>

</html>