@import url(https://fonts.googleapis.com/css?family=Passion+One:700+Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);

body{
background-image: url("img/vertical_cloth.png");
color: #fff;
font-family: 'Slabo 27px', serif;
}

h1, h2, h3, h4, h5, h6{ 
	text-align: center; 
	color: #fff;
	font-family: 'Passion One', cursive;
} 

a{
	text-decoration: none;
}

#nav{
	/* background-image: url("img/wood_pattern.png"); */
	height: auto;
	
	font-size: 21px;
	vertical-align: middle;
	text-align: center;
	
	border-radius: 15px 15px 0px 0px ;
	border: 1px solid #fff;	 
}

#nav:hover{
	background-color: rgba(255,255,255, .2);
}

#nav a{
	text-decoration: none;
	
	font-family: 'Alfa Slab One', cursive;
}


#nav a:link:hover{
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 1); 
}

#nav li{
	padding: 10px;
}

.header{
	border: 1px solid #fff;
	border-radius: 5px 5px 0px 0px;
	margin-top: 5px;
	height: 500px;
}

.header:hover{
	background-color: rgba(255,255,255, .1);
}
/* Social sharing buttons start */

.container {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  
}
.container .circle {

  fill: none;
  stroke: #ffffff;
  stroke-width: 5px;
  stroke-dasharray: 40;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
          animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}
.container .social {
  color: #e8f711;
  font-size: 1.2em;
  position: absolute;
  top: -15px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.container:hover {
  cursor: pointer;
}
.twitter:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorTwitter 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorTwitter 1s linear forwards;
}
.twitter:hover .social {
  color: #3aaae1;
}
.facebook:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorFacebook 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorFacebook 1s linear forwards;
}
.facebook:hover .social {
  color: #3b5998;
}
.google:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorGoogle 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorGoogle 1s linear forwards;
}
.google:hover .social {
  color: #dd4b39;
}
.pinterest:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorPinterest 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorPinterest 1s linear forwards;
}
.pinterest:hover .social {
  color: #cb2027;
}
.linkedin:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorLinkedin 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorLinkedin 1s linear forwards;
}
.linkedin:hover .social {
  color: #007bb6;
}
@-webkit-keyframes colorTwitter {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3aaae1;
  }
}
@keyframes colorTwitter {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3aaae1;
  }
}
@-webkit-keyframes colorFacebook {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3b5998;
  }
}
@keyframes colorFacebook {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3b5998;
  }
}
@-webkit-keyframes colorGoogle {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #dd4b39;
  }
}
@keyframes colorGoogle {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #dd4b39;
  }
}
@-webkit-keyframes colorPinterest {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #cb2027;
  }
}
@keyframes colorPinterest {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #cb2027;
  }
}
@-webkit-keyframes colorLinkedin {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #007bb6;
  }
}
@keyframes colorLinkedin {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #007bb6;
  }
}
@-webkit-keyframes outWaveIn {
  to {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
}
@keyframes outWaveIn {
  to {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
}
@-webkit-keyframes outWaveOut {
  from {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
  to {
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-dasharray: 40;
  }
}
@keyframes outWaveOut {
  from {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
  to {
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-dasharray: 40;
  }
}

/* Social sharing buttons end */

.bx-viewport, .bx-wrapper{
    border-radius: 5px;
    opacity: 1;
    -webkit-box-shadow: 12px 12px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 6px 0px  rgba(0,0,0,0.75);
    box-shadow: 12px 12px 6px 0px  rgba(0,0,0,0.75);
}

.bx-viewport:hover, .bx-wrapper:hover{
    -webkit-box-shadow: 0px 0px 6px 1px #ffff00;
    -moz-box-shadow: 0px 0px 6px 1px #ffff00;
    box-shadow: 0px 0px 6px 1px #ffff00;
    -webkit-transition: all 1s linear;
    -o-transition: all 2s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all 1s linear;
}

/* End bx slider */

/* Pops */


/*   #element_to_pop_up, #element_to_pop_up1, 
#element_to_pop_up2, #element_to_pop_up3, 
#element_to_pop_up4, #element_to_pop_up5 */
.santoshj{ 
    background-color: #1cbcd8;
    background-image: url('/img/wood_pattern.png');
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    
    border: 3px solid #000;
    /* min-width: 450px;
    max-width: 650px;
    min-height: 400px;
    max-height: 700px; */
    width: auto;
    height: auto;
    padding: 10px;
    z-index: 9911;
    
	
  }

.santoshj a, p, h2, h4{
	text-decoration: none;
	color: #000;
}

p{
  color: #000;
}
  .b-close{
      cursor:pointer;
      position:absolute;
      right:10px;
      top:5px;
  }

.santoshj{
	display: none;
  /* End pops */}

#about, #contact, #userDets{
  border: 1px solid #fff;
}

#about:hover, #contact:hover{
  background-color: rgba(255,255,255, .1);
}

#about h2, p, #contact h2, p{
  color: #fff;
}

.footer{
	border-radius: 0px 0px 15px 15px ;
	border: 1px solid #fff;
}

.footer:hover{
	background-color: rgba(255,255,255, .1);
}

/* hide away social */


div.social-wrap{
    width: 500px;
    padding-top: 25px;
}

div.social-wrap h3{
    color: #C94087;
    font-size: 28px;
    padding: 10px 0 10px 0;
    margin: 0px;
    text-shadow: 0px 2px 0px #fcd40a;
    filter: dropshadow(color=#fcd40a, offx=0, offy=2);
}

div.social-wrap ul{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
div.social-wrap ul li{
    display: block;
    width: 20%;
    margin: 0px;
    padding: 0px;
    float: left;
    height: 100px;
    position: relative;
    overflow: hidden;
}
div.social-wrap ul li a{
    display: block;
    width: 100%;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    height: auto;
    top: -45%;
    position: absolute;
    padding-top: 25%;
    padding-bottom: 25%;
    font-size: 16px;
    font-family: 'Atomic Age', cursive;
    color: #ffffff;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
div.social-wrap ul li a:hover{
    top: 0px;
}
.link_github{background-color:#d1d1d1;}
.link_twitter{background-color:#b1b1b1;}
.link_codepen{background-color:#c4c4c4;}
.link_blog{background-color:#a2a2a2;}
.link_google{background-color:#888888;}
.link_github:hover{background-color:#336699;}
.link_twitter:hover{background-color:#33ccff;}
.link_codepen:hover{background-color:#663399;}
.link_blog:hover{background-color:#ffcc00;}
.link_google:hover{background-color:#cc3333;}

.shadow {
         -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }

.shadow:before,.shadow:after {
        content:"";
        position:absolute;
        z-index:-2;
        }
.extend:hover {
            -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
} 


/* color:#fff;http://css3gen.com/css3-text-effects/
background-color:#696969;
text-shadow:#ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px; */



#blogo{
  border-radius: 5px;
}
