<!-- header content here -->

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  
  <!-- <script type="text/javascript" charset="utf-8" src="/js/jquery.tubular.1.0.js" | prepend: site.baseurl }}" ></script> -->
  <!-- <script type="text/javascript" charset="utf-8" src="{{ "/js/index.js" | prepend: site.baseurl }}" ></script> -->
  <script type="text/javascript" charset="utf-8" src="{{ "/js/bga.js" | prepend: site.baseurl }}" ></script> 
  <link rel="stylesheet" href="{{ "/css/sexyshit.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<!-- bxSlider Javascript file -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
	<!-- bxSlider CSS file -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css" rel="stylesheet" />

<!-- header content ends here --> 