<nav class="navbar navbar-inverse">
  <div class="container-fluid">
<!--     <div class="navbar-header">
  <a class="navbar-brand" href="#"><img src="/images/logo.png" width="60" height="60" alt="NothingMuch"></a>
</div> -->
    
    <ul class="nav navbar-nav">
      <li>
          <a class="button" href="{{ site.url }}">
            <span>Home</span>
            <span>Welcome!</span>
            <span>Thank you!</span>
          </a>
      </li>
      <li>
          <a class="button" href="#about">
            <span>About</span>
            <span>What we do?</span>
            <span>Thank you!</span>
          </a>
      </li> 
      <li>
          <a class="button" href="#contact">
            <span>Contact</span>
            <span>Speak with us?</span>
            <span>Thank you!</span>
          </a>        
      </li> 
            <li>
          <a class="button" href="#blog">
            <span>Learn</span>
            <span>Stuff!</span>
            <span>Thank you!</span>
          </a>        
      </li> 
    </ul>
  </div>
</nav>




<!-- End of naivgation -->