body{	

    background-color: #D23262;
    min-height: 2000px;
font-family: 'Chivo', sans-serif;
}

h1, h2,h3,h4,h5,h6, .top-bar>li>a{
	font-family: 'Chivo', sans-serif;
}

#cus-image-logo{
	border-radius: 45px;
	height: 80px; width: 80px;
}

#map {
                  margin: 0px;
    padding: 0px
    min-height: 250px;
    height: 350px;
    max-height: 750px;
    border-radius: 56px; 
            }

.oran { background-color: #00C5D1 }
.purp { background-color: rgb(250, 195, 56); }
.gen { background-color: #A2537B; }
.blue1{ background-color: #07C0CD; }
