body{	
 

    /*    background-color: #edb73b;
    min-height: 2000px;
    Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100 */
background: #a90329; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    font-family: 'Chivo', sans-serif;
    
}

h1, h2,h3,h4,h5,h6, .top-bar>li>a{
	font-family: 'Chivo', sans-serif;
}

#cus-image-logo{
	border-radius: 45px;
	height: 80px; width: 80px;
}

#map {
	margin: 0px;
    padding: 0px
    min-height: 250px;
    height: 350px;
    max-height: 750px;
    border-radius: 56px; 
 }

.full-width {
  max-width: 1400px;
  
}


/* Footer code */

.footer {
  background-color: #2980b9;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
  height: 400px;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}

.panel{
    background-color: transparent;
    border-style: none;
    border: 0px;
}

.round-corners{
    border-radius: 10px; 
}

/*Back to top */
.scrollToTop{
    width:100px; 
    height:130px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:75px;
    right:40px;
    display:none;
    background: url('../images/top.png') no-repeat 0px 20px;
    z-index: 9999; 
}
.scrollToTop:hover{
    text-decoration:none;
}

/* Pops */
  #element_to_pop_up, #element_to_pop_up1, #element_to_pop_up2, #element_to_pop_up3, #element_to_pop_up4, #element_to_pop_up5{ 
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 450px;
    padding: 25px;
    z-index: 9191;
    opacity: 1;

  }

  .b-close{
      cursor:pointer;
      position:absolute;
      right:10px;
      top:5px;
  }

