<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {{ site.title }} </title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
	  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	  {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
{% include header.html %}

</head>
<body>
<div id="wrapper" class="clearfix">
{% include nav.html %}

	{{ content }}

{% include footer.html %}
{% include track.html %}
</div> <!--- ends wrap --> 
</body>
</html>